@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-sm: 767px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --color-main-black: #111111;
  --color-brand-gray: #f5f5f5;
  --color-text-gray: #737373;
  --color-light-gray: #cacacb;
  --color-stroke: #ebebeb;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer components {
  .swiper-pagination-bullet {
    @apply h-[6px]! w-5! rounded-none! bg-white! opacity-50! transition-all!;
  }

  .swiper-pagination-bullet-active {
    @apply w-5! opacity-100!;
  }
  .btn-ui {
    @apply rounded-[8px] border;
  }
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  }
}
